<div class="bc-container">
  <div class="bc-row">
    <div class="bc-col-2 bc-offset-5">
      <h1>PipesApp</h1>
    </div>
  </div>
  <div class="bc-row space_4_top">
    <div class="bc-col-2 bc-offset-5">
      <h2>DatePipe</h2>
    </div>
  </div>
  <div class="bc-row space_4_top">
    <div class="bc-col-12 bc-offset-3">
      <p>El cumpleaños de Diana es el {{birthday}}</p>
    </div>
  </div>
  <div class="bc-row space_4_top">
    <div class="bc-col-12 bc-offset-3">
      <p>El cumpleaños de Diana es el {{birthday | date }}</p>
    </div>
  </div>
  <div class="bc-row space_4_top">
    <div class="bc-col-12 bc-offset-3">
      <p>El cumpleaños de Diana es el {{birthday | date:"dd/MM/yyyy" }}</p>
    </div>
  </div>
  <div class="bc-row space_4_top">
    <div class="bc-col-8 bc-offset-2">
      <h2>UppercasePipe, LowerCasePipe & TitleCasePipe</h2>
    </div>
  </div>
  <div class="bc-row space_4_top">
    <div class="bc-col-12 bc-offset-3">
      <p>{{text}}</p>
    </div>
  </div>
  <div class="bc-row space_4_top">
    <div class="bc-col-12 bc-offset-3">
      <p>{{text | uppercase}}</p>
    </div>
  </div>
  <div class="bc-row space_4_top">
    <div class="bc-col-12 bc-offset-3">
      <p>{{text | lowercase}}</p>
    </div>
  </div>
  <div class="bc-row space_4_top">
    <div class="bc-col-12 bc-offset-3">
      <p>{{text | titlecase }}</p>
    </div>
  </div>
  <div class="bc-row space_4_top">
    <div class="bc-col-8 bc-offset-2">
      <h2>CurrencyPipe, DecimalPipe & PercentPipe</h2>
    </div>
  </div>
  <div class="bc-row space_4_top">
    <div class="bc-col-12 bc-offset-3">
      <p>Ese mani cuesta: {{price}}</p>
    </div>
  </div>
  <div class="bc-row space_4_top">
    <div class="bc-col-12 bc-offset-3">
      <p>Ese mani cuesta: {{price | currency }}</p>
    </div>
  </div>
  <div class="bc-row space_4_top">
    <div class="bc-col-12 bc-offset-3">
      <p>Ese mani cuesta: {{price | currency:'INR':'Indian Rupee' }}</p>
    </div>
  </div>
  <div class="bc-row space_4_top">
    <div class="bc-col-12 bc-offset-3">
      <p>numero PI: {{ pi }}</p>
    </div>
  </div>
  <div class="bc-row space_4_top">
    <div class="bc-col-12 bc-offset-3">
      <p>numero PI: {{ pi | number: '1.0-0'}}</p>
    </div>
  </div>
  <div class="bc-row space_4_top">
    <div class="bc-col-12 bc-offset-3">
      <p>numero PI: {{ pi | number: '4.1-5'}}</p>
    </div>
  </div>
  <div class="bc-row space_4_top">
    <div class="bc-col-12 bc-offset-3">
      <p>numero PI: {{ pi | number: '1.1-6'}}</p>
    </div>
  </div>
  <div class="bc-row space_4_top">
    <div class="bc-col-12 bc-offset-3">
      <p>Estamos al {{ percentage }}</p>
    </div>
  </div>
  <div class="bc-row space_4_top">
    <div class="bc-col-12 bc-offset-3">
      <p>Estamos al {{ percentage | percent }}</p>
    </div>
  </div>
  <div class="bc-row space_4_top">
    <div class="bc-col-12 bc-offset-3">
      <p>Estamos al {{ percentage | percent: '4.3-5' }}</p>
    </div>
  </div>
  <div class="bc-row space_4_top">
    <div class="bc-col-12 bc-offset-3">
      <p>Estamos al {{ percentage | percent: '1.2-2' }}</p>
    </div>
  </div>
  <div class="bc-row space_4_top">
    <div class="bc-col-8 bc-offset-2">
      <h2>async</h2>
    </div>
  </div>
  <div class="bc-row space_4_top">
    <div class="bc-col-8 bc-offset-2">
      <p>Fecha {{time  | async}}</p>
    </div>
  </div>
  <div class="bc-row space_4_top">
    <div class="bc-col-8 bc-offset-2">
      <p>Fecha {{ time | async | date:"MM/dd/yy HH:mm:ss" }}</p>
    </div>
  </div>
  <div class="bc-row space_4_top">
    <div class="bc-col-8 bc-offset-2">
      <h2>CustomPipe</h2>
    </div>
  </div>
  <div class="bc-row space_4_top space_8_bottom">
    <div class="bc-col-8 bc-offset-2">
      <p>{{textList | customPipe}}</p>
    </div>
  </div>
</div>
